# Dependencies
node_modules/

# Build outputs
dist/
build/

# Test coverage
coverage/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# HTML files
*.html

# Config files
vite.config.js 

# original
src/main.original.js